#drawer #nav-list .nav-item{
    display: flex;
    justify-content: center;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}

#drawer #nav-list .nav-item:hover{
    background-color: white !important;
    border-right: 3px solid rgb(214, 30, 214);
    transition: background-color 0.3s ease-out,border-right 0.3s ease-in;
}

#drawer #nav-list .nav-item:hover .nav-icon{
    color:rgb(187, 6, 187);
    transition: color 0.2s ease-out;
}